html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    /* line-height:1; */
    font-family: 'Poppins', sans-serif;
    color: #525252;
    background-image: url(Assets/Background.svg)
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

button, input[type="submit"], input[type="reset"] {
 background: none;
 color: inherit;
 border: none;
 padding: 0;
 font: inherit;
 cursor: pointer;
 outline: inherit;
}
/* Голова */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  margin: auto;
  height: 126px;
}
.headerLogo{
  cursor: pointer;
  width: 127px;
  height: 40px;
}

header nav{
  opacity: 50%;
  width: 100%;
  max-width: 700px;
}
header nav ul{
  display: flex;
  justify-content: space-between;
}
header nav ul li{
  transition: 0.5s;
  cursor: pointer;
}
header nav ul li:hover{
  color: black;
}
/* Верхний блок */

.layout {
  max-width: 1240px;
  margin: auto;
}
.upper .upperContent{
  display: flex;
  justify-content: space-between;
}
.upper .upperContent .upperText{
  height: 662px;
  margin-top: 100px;
}
.upper .upperContent .upperText .upperText1{
  height: 300px;
  color: black;
  width: 600px;
  font-size: 72px;
  font-weight: 600;
}
.upper .upperContent .upperText .upperText2{
  padding-top: 30px;
  font-weight: 500;
  width: 450px;
  font-size: 22px;
}
.upper .upperContent .upperText .buttons .contact{
  font-weight: 600;
  font-size: 18px;
  margin-top: 52px;
  transition: 0.5s;
  box-shadow: 0 4px 60px
    rgba(62, 130, 252, 0.35);
  color: white;
  border-radius: 40px;
  padding: 15px 30px;
  background: #3E82FC;
}
.upper .upperContent .upperText .buttons .contact:hover{
  transform: scale(1.1);
}
.upper .upperContent .upperText .buttons .watch{
  color: #3E82FC;
  border: 1px solid;
  font-weight: 600;
  font-size: 18px;
  margin-top: 52px;
  border-radius: 40px;
  padding: 15px 30px;
  background: transparent;
}
.layout .upper .container{
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: white;
  padding: 30px 50px;
}
.layout .upper .container li{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 268px;
}
.layout .upper .container
.locations,
.adventures,
.hikers{
  font-weight: 600;
  font-size: 24px;
}
.layout .upper .container li button{
  color: #FE2C54;
}
.layout .upper .container li button:hover{
  text-decoration: underline;
}
.layout .info{
  display: flex;
  justify-content: center;
}
.layout .explore{
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #FE2C54;
}


/*.upper .container .headText{
  font-size: 24px;
  font-weight: 600px;
  display: flex;
  justify-content: space-around;
}*/
/*.upper .container .icons{
  padding-top: 66px;
  !*padding: 0 250px 0 85px;*!
  display: flex;
  justify-content: space-around;
}*/
/*.upper .container ul{
  list-style: none;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}*/
/*.upper .container ul li{
  width: 268px;
}*/
/* Средняя часть */
.middle{
  background-color: white;
  background-image: url(Assets/MID_background.svg);
}
.middle .girl{
  height: 622px;
}
.middle .midContent{
  display: flex;
  justify-content: space-between;
}
.middle .midText{
  display: flex;
  flex-direction: column;
}
.middle .midText .midText1{
  width: 508px;
  color: black;
  font-size: 62px;
  font-weight: 600;
}
.middle .midContent .midText .midText2{
  width: 340px;
}
.middle .midContent .midText button{
  width: 181px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 52px;
  transition: 0.5s;
  color: white;
  border-radius: 40px;
  padding: 15px 30px;
  background: #3E82FC;
}
.middle .midContent .midText button:hover{
  transform: scale(1.1);
}
.middle .midContainer .journey{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: #3E82FC;
}
.middle .midContainer .trust{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  color: black;
}
.middle .midContainer .brands{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
